name: Build for release

on:
  release:
    types: [published]

jobs:
  build:
    name: Build App
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if (Test-Path requirements.txt -PathType Leaf) { pip install -r requirements.txt }
      - name: Build binary
        run: |
          pyinstaller --onefile --windowed main.py
      - name: Upload binary and signature to Release
        uses: softprops/action-gh-release@v2.2.2
        with:
          files: |
            ./dist/main.exe
  changelog:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout all
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Install git-cliff
        uses: taiki-e/install-action@git-cliff

      - name: Generate changelog
        run: git-cliff >> CHANGELOG.md

      - name: Add changelog to release
        uses: softprops/action-gh-release@v2.2.2
        with:
          tag_name: ${{ github.event.release.tag_name }}
          body_path: CHANGELOG.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
